* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: none !important;
}

// *GENERALES

a {
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

p {
    font-family: $lato;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: $roboto;
    color: #000;

    header {
        @include background-image {
            background: #48aef0 url(../../galeria/ghibli-mobile-2.jpg);
            background: linear-gradient(to right, rgba(72, 173, 240, 0.3), rgba(53, 127, 176, 0.4)), url(../../galeria/ghibli-mobile-2.jpg);
        }

        @include background-before {
            background: rgba(0, 0, 0, 0.2);
        }

        @include background-parallax;

        min-height: 100vh;
        overflow: hidden;

        .menu {
            position: fixed;
            z-index: 100;
            width: 100%;

            .enlaces {
                width: 70%;
                position: absolute;
                top: 0;
                right: 0;
                height: 100vh;
                background-color: #fff;
                @extend .center-flex,
                .flex-column;
                justify-content: space-evenly;
                padding: 6rem 0 4rem;
                box-shadow: -15px 0px 10px rgba(0, 0, 0, .2);
                clip-path: circle(0.0% at 100% 0);
                transition: clip-path .7s ease-in-out;
                margin: 0;
                .enlace{
                    &:active{
                        color:  $color2;
                    }
                }
            }

            .menudos {
                -webkit-clip-path: circle(150% at 100% 0);
                clip-path: circle(150% at 100% 0);
                height: 100vh;

            }

            .animation-enlace {
                .enlace {
                    animation: aparecer 2s;

                }
            }


            .contenedor-hamburguer {
                z-index: 150;
                position: fixed;
                top: 2rem;
                right: 2rem;
            }

        }

        .menu-scroll {
            transition: transform .5s ease-in-out;
        }

        .menu-top {
            transform: translateY(-130px);
        }

        .menu-top-active {
            transform: translateY(0px);

        }




        .textos-header {
            @extend .position-absolute;
            top: 15%;
            width: 90%;

            flex-direction: column;
            text-align: center;
            -webkit-animation: opacity_scale 3s ease;
            animation: opacity_scale 3s ease;

            .titulo-textos-header {
                font-size: 2.5em;
                color: #fff
            }

            .subtitulo-textos-header {
                font-size: 1.5em;
                color: #fff;
                font-weight: 300;
            }
        }

        .wave {
            // display: none;
            width: 150%;
            height: 150px;
            bottom: -50px;
            overflow: hidden;
            // display: none;
        }

    }

    main {
        .contenedor {
            max-width: 95%;
            margin: auto;
            overflow: hidden;
        }

        .titulo {
            color: $color1;
            font-size: 2.5rem;
            text-align: center;
            margin: 3rem 0;
        }

        // TODO:STUB SOBRE GHIBLI

        .seccion-sobre-ghibli {
            .contenedor-sobre-ghibli {
                .sobre-ghibli {
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;

                    .sobre-ghibli-1,
                    .sobre-ghibli-2 {
                        display: flex;
                        flex-wrap: wrap;
                        overflow: hidden;
                        min-width: 100%;

                        .contenedor-imagen-sobre-ghibli {
                            .imagen-sobre-ghibli-2 {
                                display: none;
                            }

                        }

                        .contenido-textos-sobre-ghibli {
                            width: 95%;
                            margin: auto;

                            .texto-sobre-ghibli-1,
                            .texto-sobre-ghibli-2,
                            .texto-sobre-ghibli-3 {
                                flex-direction: column;
                                @extend .center-flex;
                                text-align: center;
                                margin-bottom: .5rem;

                                .contenedor-parrafo-sobre-ghibli {
                                    height: 0;
                                    max-height: auto;
                                    overflow: hidden;
                                    transition: height .5s ease-out;

                                    .parrafo-sobre-ghibli {
                                        margin: 1rem 0;
                                        text-align: justify;
                                    }
                                }

                                .contenedor-parrafo-sobre-ghibli-1 {
                                    max-height: 150px;
                                }

                                .contenedor-parrafo-sobre-ghibli-2 {
                                    max-height: 240px;
                                }

                                .contenedor-parrafo-sobre-ghibli-3 {
                                    max-height: 450px;

                                    .contenedor-boton-leer-mas-historia {
                                        .boton-leer-mas-historia {
                                            color: $color1;

                                        }

                                    }
                                }

                                .contenedor-h3-sobre-ghibli {
                                    width: 100%;
                                    height: 2rem;
                                    background-color: #48adf041;
                                    border-radius: 10px;
                                    @extend .center-flex;
                                    position: relative;

                                    .h3-sobre-ghibli {
                                        position: relative;
                                        color: $color1;
                                        width: 100%;
                                        @extend .position-absolute;
                                        margin: auto;

                                        i {
                                            display: none;
                                        }

                                    }
                                }


                            }

                            .texto-sobre-ghibli-visible {
                                .contenedor-parrafo-sobre-ghibli {
                                    // max-height: inherit;
                                    transition: height 1.2s ease-out;
                                    height: 600px;
                                }

                                .contenedor-h3-sobre-ghibli {
                                    background-color: #409ad671;

                                }
                            }
                        }
                    }

                }

                .contenedor-boton-sobre-ghibli {
                    display: none;
                }
            }
        }

        // TODO:STUB PELICULAS

        .seccion-peliculas {
            .contenedor-peliculas {
                margin-bottom: 1rem;
                @extend .flex-column;
                justify-content: space-around;
                align-items: center;



                .swiper-pagination-bullet {
                    display: none;
                }

                .carousel-peliculas {
                    width: 100%;
                    @extend .flex-column;

                    
                    .peliculas {
                        width: 100%;
                        height: calc(458px / 1.6 + 140px);
                        overflow-y: visible;
                        display: flex;


                        .arrows-peliculas {
                            @extend .center-flex;

                            .flecha-derecha,
                            .flecha-izquierda {
                                top: calc(50% - 70px);
                                height: 3.2rem;
                                width: 3.2rem;
                                color: white;
                                background-color: rgba(0, 0, 0, .5);
                                // padding: 2rem 1.8rem;
                                border-radius: 50%;
                                cursor: pointer;
                                outline: none;
                                transition: transform .7s, background-color .5s;



                                i {
                                    font-size: 2.5rem;
                                    transition: transform .5s;


                                }

                                &:active,
                                &:hover {
                                    color: $color1;
                                    background-color: rgba(0, 0, 0, .8);

                                }
                            }

                            .flecha-izquierda {
                                left: 2%;

                                i {
                                    transform: translateX(-2px);
                                }

                                &:active,
                                &:hover {
                                    transform: translateX(-.215em)
                                }
                            }

                            .flecha-derecha {
                                right: 2%;

                                i {
                                    transform: translateX(2px);
                                }

                                &:active,
                                &:hover {
                                    transform: translateX(.15rem)
                                }
                            }

                            .flecha-derecha:after,
                            .flecha-izquierda:after {
                                display: none;
                            }

                            // .flecha-derecha {
                            //     right: .5rem;
                            // }

                            // .flecha-izquierda {
                            //     left: .5rem;
                            // }
                        }


                        .pelicula {
                            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, .7);
                            height: calc(408px / 1.6);
                            width: calc(288px / 1.6);
                            .portada {


                                .img-pelicula {
                                    object-fit: cover;
                                }
                            }

                            .informacion {
                                .contenedor-nombre-ver-pelis {
                                    display: none;
                                    text-align: center;
                                    margin: 1rem 0;
                                }

                                .ver-peliculas {
                                    display: none;
                                    margin: 1rem 2.5rem;
                                }
                                .sipnosis{
                                    display: none;
                                }

                            }
                        }

                        .pelicula-active {
                            .informacion {
                                .contenedor-nombre-ver-pelis {
                                    display: block;
                                }

                                .ver-peliculas {
                                    display: block;
                                }
                            }
                        }

                        .swiper-slide-active {
                            .informacion {
                                .contenedor-nombre-ver-pelis {
                                    display: block;
                                }

                                .ver-peliculas {
                                    display: block;
                                }
                            }
                        }

                        .position-absolute-informacion {
                            .informacion {
                                position: absolute;
                                @extend .height-width;
                                @extend .center-flex;
                                flex-direction: column;
                                background: #48aef0e6;
                                top: 90%;
                                color: #fff;
                                transition: top .7s;

                                .contenedor-nombre {
                                    @extend .center-flex;
                                    height: 10%;
                                    width: 100%;
                                    transition: margin 0.7s;

                                }

                                &:hover {
                                    top: 0;
                                }

                                &:hover .contenedor-nombre {
                                    margin-top: 2rem;
                                }


                            }
                        }
                        .ver-sipnosis-active{
                            padding: 0 1rem;
                            @extend .position-fixed, .center-flex, .wrap, .space-between;
                            background-color: #fff;
                            .boton-sipnosis{
                                background-color: lightcoral;
                                right: 0;
                                @extend .center-flex;
                                padding: .5rem .8rem;
                                border-radius: 1.5rem;
                                width: 100%;
                                i{
                                    font-size: 1.5rem;
                
                                }
                            }
                            .nombre-sipnosis{
                                text-align: center;
                                width: 50%;
                                display: flex;
                            }
                            .img-sipnosis{
                                height: 150px;
                                width: 40%;
                                display: flex;

                            }
                            .parrafo-sipnosis{
                                text-align: center;
                                width: 100%;
                                padding: .5rem 0;
                            }
                        }

                    }

                }
            }
        }

        // TODO:STUB GALERIA

        .seccion-galeria {
            background-color: $color-fondo;

            .galeria {
                @extend .center-flex,
                .flex-column;

                .contenedor-barra-busqueda {
                    @extend .center-flex;
                    width: 100%;
                    margin-bottom: 2rem;

                    .icon-barra-busqueda {
                        position: relative;
                        right: 15%;
                        color: $color1;
                    }

                    .barra-busqueda {
                        // padding-right: 10%;
                        width: 50%;
                        height: 40px;
                        background-color: #fff;
                        border-radius: 100px;
                        border: none;
                        text-align: center;
                        color: #414141;
                        outline: none;
                        transition: width .7s ease, background-color .7s;

                        &:focus {
                            width: 90%;
                            background-color: $color2;
                            color: #fff;

                            &::placeholder {
                                color: rgba(255, 255, 255, 0.3);
                            }
                        }

                        &::placeholder {
                            transition: color .8s;
                            color: $color2;
                        }
                    }
                }

                .categorias-galeria {
                    @extend .center-flex,
                    .wrap;
                    text-align: center;
                    margin-bottom: 2rem;

                    .categoria-galeria {
                        color: #9B9B9B;
                        // margin: 0 20px;
                        padding: 0 7px;
                        font-size: 18px;
                        line-height: 36px;
                        font-weight: 700;
                        list-style: none;
                        cursor: pointer;
                    }

                    .activo {
                        color: #555555;
                    }


                }

                $height-imagen: 130px;

                .imagenes-galeria {
                    display: flex;
                    align-content: flex-start;
                    justify-content: center;
                    // flex-wrap: wrap;
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(230px, 240px));
                    grid-gap: 1rem;
                    min-height: 430px;
                    height: 430px;
                    max-height: 2200px;
                    transition: height 1s ease;
                    overflow: hidden;

                    .imagen-galeria {
                        height: $height-imagen;
                        box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
                        border-radius: 15px;

                        img {
                            @extend .height-width;
                            object-fit: cover;
                        }
                    }
                }


                .contenedor-botones-imagenes-galeria {
                    padding: 2rem 0;
                    width: 80%;
                    @extend .center-flex, .wrap;
                    .boton-ver-mas, .boton-ver-menos {
                        font-size: 1rem;
                        outline: none;
                        line-height: 0;
                        padding: 1.3rem;
                        border-radius: 1.3rem;
                        margin: .2rem;
                        /*quitar border pordefecto del boton al hacer click*/
                    }
                    .boton-cerrar-imagenes{
                        // display: block;
                        margin-top: .5rem;
                        line-height: 0;
                        padding: .5rem .7rem;
                        border-radius: 50%;
                        font-size: 1.3rem;
                        background-color: lightcoral;
                        // width: 50%;
                    }
                    .display-none{
                        display: none;
                    }
                }
            }
            .overlay {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(255, 255, 255, 0.9);
                width: 100%;
                height: 100vh;
                display: none;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                z-index: 1500;

                .contenedor-img {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 90%;

                    img {
                        max-width: 100%;
                    }

                    #btn-cerrar-popup {
                        background: white;
                        box-shadow: 0 0 12px 0 rgba(0, 0, 0, .5);
                        padding: .4rem .7rem;
                        border-radius: 50%;
                        font-size: 18px;
                        color: $color1;
                        border: none;
                        cursor: pointer;
                        position: absolute;
                        right: -.5rem;
                        top: -.5rem;
                        outline: none;
                        transition: transform 5s;

                        
                        &:hover {
                            transition: all 0.4s linear;
                            background: $color1;
                            transform: scale(1.2);
                            color: white;
                        }
                        
                        &:active {

                            transform: scale(.75);
                        }
                    }
                }

                .descripcion {
                    display: block;
                    background: white;
                    color: $color1;
                    box-shadow: 0 0 9px 0 rgba(0, 0, 0, .5);
                    padding: 20px;
                    text-align: center;
                    margin-top: 5px;
                    border-radius: 10px;
                    // max-width: 50%;
                    width: 90%;
                }
            }

            .activo-overlay {
                display: flex;
            }
        }

        // TODO:STUB KAIOSAMAS DE GHIBLI

        .seccion-kaiosamas-ghibli {
            @include background-image {
                background: url(../../galeria/ghibli-mobile-1.jpg);
            }

            @include background-parallax;

            @include background-before {
                background-color: rgba(255, 255, 255, .95);
            }


            .contenedor-kaiosamas-ghibli {
                width: 100%;
                @extend .center-flex,
                .flex-column;

                .contenedor-titulo-kaiosamas {
                    position: relative;
                    margin-top: 3.5rem;
                }

                .kaiosamas {
                    position: relative;
                    // @extend .center-flex, .flex-column;
                    display: grid;
                    width: 95%;
                    grid-template-areas:
                        "k1 k1 k1"
                        "k2 k2 k2"
                        "k3 k3 k3";

                    .k1 {
                        grid-area: k1;
                    }

                    .k2 {
                        grid-area: k2;
                        display: flex;
                        flex-direction: row-reverse;
                        text-align: end;

                        .contenedor-imagen-kaiosama {
                            right: 1.5rem;

                        }
                    }

                    .k3 {
                        grid-area: k3;

                    }

                    .kaiosama {
                        overflow: hidden;
                        position: relative;
                        margin-bottom: 2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .contenedor-imagen-kaiosama {
                            width: 50%;

                            // @extend .height-width;
                            .imagen-kaiosama {
                                // @extend .height-width;
                                object-fit: cover;
                                border-radius: 50%;
                                height: 130px;
                                width: 130px;
                            }
                        }

                        .contenido-textos-kaiosama {
                            width: 50%;
                            @extend .center-flex,
                            .flex-column;

                            .h3-kaiosama {
                                margin: .5rem 0;
                                font-size: 1rem;
                            }

                            .contenedor-p {
                                display: none;
                            }

                            .contenedor-boton-leer-mas {
                                display: none;
                            }

                            .boton-contenedor-p {
                                transition: none;
                                margin-bottom: .5rem;
                            }

                        }
                    }

                    .kaiosama-active {
                        width: 100%;
                        height: 100%;
                        position: fixed;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 1000;
                        background-color: #fff;
                        flex-wrap: wrap;
                        text-align: start;
                        flex-direction: row;

                        .contenedor-imagen-kaiosama {
                            position: absolute;
                            top: 1rem;
                            left: 1.5rem;
                            width: 100%;

                            .imagen-kaiosama {
                                height: 100px;
                                width: 100px;
                                border-radius: 50%;
                            }
                        }

                        .contenido-textos-kaiosama {
                            text-align: center;
                            top: 8%;
                            background: none;
                            width: 100%;
                            position: absolute;

                            .h3-kaiosama {
                                margin: .5rem 0 3.8rem;
                                transform: translateX(2.5rem);
                            }

                            .contenedor-p {
                                display: block;
                                padding: 0 .45rem;
                            }

                            .contenedor-boton-p {
                                margin: .5rem 0;

                                order: 3;
                            }

                        }
                    }

                }
            }

        }

        // TODO:STUB FRASES
        .seccion-frases {
            .contenedor-carousel-frases {
                min-width: 100%;

                .carousel-frases {
                    @extend .center-flex;
                    justify-content: space-between;

                    .flecha-derecha,
                    .flecha-izquierda {
                        position: absolute;
                        z-index: 100;
                        @extend .center-flex;
                        color: $color1;
                        border-radius: 50%;
                        cursor: pointer;
                        outline: none;
                        transition: transform .7s, background-color .5s;

                        i {
                            font-size: 2.5rem;
                            transition: transform .5s;
                        }
                    }

                    .flecha-izquierda {
                        left: 3%;
                    }

                    .flecha-derecha {
                        right: 3%;
                    }

                    .contenedor-frases {
                        max-height: 200px;

                        .frases {
                            scroll-behavior: smooth;
                            display: flex;
                            @extend .scrollbar-none;
                            // scroll-snap-type: x proximity;
                            -ms-scroll-snap-type: x mandatory;
                            scroll-snap-type: x mandatory;

                            .contenedor-frase {
                                position: relative;
                                height: 100%;
                                width: 100%;
                                flex-shrink: 0;
                                scroll-snap-align: center;

                                .frase {
                                    @include background-before {
                                        background-color: rgba(0, 0, 0, 0.7);
                                    }

                                    .contenido-texto {
                                        width: 65%;
                                        @extend .position-absolute,
                                        .center-flex,
                                        .flex-column;
                                        text-align: center;

                                        color: #fff;
                                    }
                                }
                            }
                            .contenedor-img-frase{
                                .img-frase{
                                    width: 100%;
                                }
                            }
                        }

                    }

                    .frases-transition-none {
                        scroll-behavior: inherit;
                    }

                }
            }
        }

        // TODO:STUB VER PELIS
        .seccion-ver-pelis {
            background: #f2f2f2;
            background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../../galeria/ghibli3.3.jpg);
            background-position: 30%;
            background-size: cover;

            .ver-pelis {
                .titulo-ver-pelis {
                    margin-top: 7rem;
                    margin-bottom: 1rem;
                }

                .pelis-cont {
                    @extend .flex-column,
                    .space-between;
                    margin-bottom: 3.5rem;

                    .peli {
                        width: 100%;
                        position: relative;
                        @extend .flex-column,
                        .center-flex;
                        padding: 0 .5rem;
                        padding-bottom: calc(200px - 2rem);
                        margin-top: 2rem;

                        .contenedor-textos-ver-pelis {
                            @extend .flex-column,
                            .center-flex;
                            position: relative;
                            font-size: 1.7rem;

                            .textos-ver-pelis {
                                @extend .flex-column,
                                .center-flex;
                                position: relative;
                                color: $color2;

                                h3 {
                                    font-size: 2rem;
                                }

                                p {
                                    text-align: center;
                                    font-size: 1.5rem;

                                }
                            }

                            .cursor-hover-ver-pelis {
                                display: none;
                            }
                        }

                        .contenedor-textos-ver-pelis-hover {
                            transition: height .5s;
                            overflow: hidden;
                            height: 0;
                        }

                        .contenedor-imagen-ver-pelis {
                            overflow: hidden;
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            border-radius: 50%;
                            margin: auto;
                            height: 150px;
                            width: 150px;
                            transition: transform .7s;

                            .imagen-ver-pelis {
                                @extend .height-width;

                            }

                        }

                        .contenedor-imagen-ver-pelis-hover {
                            // top: calc(-100% + 100px);
                            transition: transform .7s;
                            transform: scale(.7);
                        }

                        .enlaces-ver-pelis {
                            overflow: auto;
                            height: 0;
                            opacity: 0;
                            transition: all .8s ease-in-out;
                            @extend .center-flex,
                            .flex-column;

                            .enlace-ver-peli {
                                font-size: 1rem;
                                line-height: 1.3rem;
                                padding: .65rem;
                                margin: .5rem 0;


                            }
                        }

                        .enlaces-ver-pelis-hover {
                            transition: all .8s ease-in-out;
                            opacity: 1;
                            height: 1200px;
                            margin: 0;
                            // visibility: visible;
                        }



                    }
                }
            }
        }
        // TODO:STUB HISTORIA
        .seccion-historia{
            margin-bottom: 3.5rem;



            .contenedor-texto-historia {
                transition: height 1s;
                height: 505px;
                margin: 3.5rem auto 2rem;
                width: 90%;
                background-color: #fff;

                .texto-historia {
                    height: inherit;

                    .contenedor-parrafo-historia {
                        .parrafo-historia {

                            text-align: center;
                            font-size: 1.1rem;
                        }

                    }
                }
            }
            .contenedor-texto-historia-active{
                height: 1780px;
                min-height: max-content;

            }

            .contenedor-boton-historia {
                display: flex;
                justify-content: center;

                .boton-historia {
                    margin: 0 auto;
                    
                }
            }

        }
        .seccion-adios{
            .contenedor-video {
                width: 100%;
                overflow: hidden;
                max-height: 450px;
                // min-height: 250px;
                position: relative;

                video {
                    z-index: -10;
                    position: relative;
                    min-width: 100%;
                    width: 100%;
                    max-width: 100%;
                }
                &:before {
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) , rgba(255, 255, 255, .5), rgba(0, 0, 0, .8));
                    @extend .background-before;

                }

                .contenedor-texto-adios {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @extend .position-absolute;
                    display: none;
                    
                    z-index: 10;

                    .texto-adios {
                        position: relative;
                        color: #fff;
                        font-size: 5rem;
                    }
                }
            }
        }

    }
}