* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none !important;

}

//  NOTE usar @extend de sass para reutlizar en clases los estilos que se repiten
// .transitionejemplo{
//     transition: none;
// }
// .ejemplo{
//     @extend transitionejemplo
// }

// Inicialización
a {
    text-decoration: none;
}

p {
    font-family: $lato;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: $roboto;

    header {
        width: 100%;
        height: 98vh;
        background: #48aef0 url(../../galeria/ghibli1.png);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, rgba(72, 173, 240, 0.1), rgba(53, 127, 176, 0.2)), url(../../galeria/ghibli1.png);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover;
        background-attachment: fixed;

        .menu {
            width: 100%;
            text-align: right;
            padding: 30px 50px 0 0;
            position: fixed;
            z-index: 100;

            .enlaces {
                display: flex;
                justify-content: flex-end;

                .enlace {
                    -webkit-animation: opacity_scale 3s ease;
                    animation: opacity_scale 3s ease;
                    margin-left: 10px;
                    position: relative;
                    // padding: .5rem 0; es necesario
                    color: #fff;
                    cursor: pointer;
                    font-weight: 500;
                    list-style: none;

                    // &:after {
                    //     content: "";
                    //     margin-top: 3px;
                    //     display: block;
                    //     position: absolute;
                    //     width: 0;
                    //     height: 3px;
                    //     left: 50%;
                    //     background: #fff;
                    //     transition: width .3s ease-in-out, left .3s ease-in-out;
                    //     // * width en 100% se elimina left se usa transform
                    //     // transform: translateX(-100%);
                    // }

                    // &:hover:after {
                    //     width: 100%;
                    //     // transform: translateX(0);
                    //     left: 0;
                    // }
                }
            }

            .contenedor-hamburguer {
                display: none;
                border-radius: 50%;
                display: none;

                .hamburguer {
                    font-size: 25px;
                    padding: 1rem 1.05rem;

                    &:active {
                        color: $color1;
                    }
                }
            }
        }

        .menu-scroll {
            padding: .7rem;
            color: $color3;
            background: #fff;
            box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .2);
            transition: ease-in-out 0.5s;

            .enlaces {
                margin-right: 3.5rem;

                .enlace {
                    color: #444;

                    &:after {
                        background: $color1;

                    }
                }

                .foco {
                    transition: .5s;
                    color: $color1;
                }
            }
        }

        .textos-header {
            display: flex;
            height: 75vh;
            width: 100%;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            -webkit-animation: opacity_scale 3s ease;
            animation: opacity_scale 3s ease;

            h1 {
                font-size: 50px;
                color: #fff;
            }

            h2 {
                color: #fff;
                font-weight: 300;
            }
        }

        .wave {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }

    main {
        .contenedor {
            padding: 0 3.5rem;
            width: 85%;
            max-width: 95%;
            margin: auto;
            overflow: hidden;
            border: 2px solid darkmagenta;
        }

        .titulo {
            color: $color1;
            font-size: 3rem;
            text-align: center;
            margin: 3.5rem 0;
            border: 1px solid rgb(255, 0, 85);
        }

        .seccion-sobre-ghibli {
            .contenedor-sobre-ghibli {
                border: 2px solid darkmagenta;
                position: relative;

                .contenedor-boton-sobre-ghibli {
                    display: flex;
                    align-items: flex-end;
                    transform: translateY(-5%);
                    width: 100%;
                    // justify-content: flex-end;
                    transform: translate(90%);
                    transition: .9s .1s transform ease-in-out;
                    // background-color: red;

                    .boton-sobre-ghibli {
                        background-color: transparent;
                        color: $color1;
                        outline: none;
                    }
                }

                .translate-boton-sobre-ghibli {
                    transform: translate(0%);

                }


                .sobre-ghibli {
                    display: flex;
                    flex-wrap: nowrap;
                    overflow: hidden;
                    // position: relative;


                    .contenedor-sobre-ghibli-1,
                    .contenedor-sobre-ghibli-2 {
                        margin-bottom: 3.5rem;
                        display: flex;
                        // flex-wrap: wrap;
                        overflow: hidden;
                        border: 1px solid darkcyan;
                        // min-width: 100%;
                        // position: rela

                        .contenedor-imagen-sobre-ghibli {
                            display: flex;
                            justify-content: center;
                            max-width: 55%;
                            min-width: 50%;
                            height: 500px;
                            overflow: hidden;
                            border: 1px solid deeppink;
                            transition: .6s all ease-out;
                            // background: blue;



                            .imagen-sobre-ghibli-1 {
                                height: 120%;
                                -webkit-animation: ease-out img1Totoro 1s;
                                animation: ease-out img1Totoro 1s;
                                border: 1px solid red;
                                min-width: 50%;

                            }

                            .imagen-sobre-ghibli-2 {
                                // height: 120%;
                                width: 100%;
                                -webkit-animation: ease-out img1Totoro 1s;
                                animation: ease-out img1Totoro 1s;
                                border: 1px solid red;
                                min-width: 50%;

                            }
                        }

                        .contenido-textos {
                            width: 35%;
                            min-height: 100%;
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            border: 1px solid red;

                            .texto-1,
                            .texto-2,
                            .texto-3 {
                                transition: .6s all ease-out;


                                p {
                                    padding: 0 0 30px 10px;
                                    text-align: justify;
                                }

                                h3 {
                                    margin-bottom: 15px;

                                    i {
                                        color: $color2;
                                    }
                                }
                            }

                        }
                    }
                    .contenedor-sobre-ghibli-1{
                        justify-content: space-between;
                    }
                    
                    
                    .contenedor-sobre-ghibli-2 {
                        justify-content: space-evenly;
                        transition: 1s transform ease-out;
                        position: absolute;
                        // right: 100%;
                        transform: translateX(100%);
                        opacity: 0.3;
                        .contenedor-imagen-sobre-ghibli{
                            min-width: 40%;
                            width: 48%;
                        }
                        .contenido-textos{
                            transform: translateX(-10px);
                            transform: translateY(60px);
                            .texto-3{
                                transition: .7s .6s all ease-out;
                                transform: translateX(200%);
                                opacity: 0.5;
                            }
                            // background-color: red;
                        }

                    }

                    .translate-sobre-ghibli-2 {
                        transform: translateX(0%);
                        opacity: 1;
                        .contenido-textos{
                            .texto-3{
                                opacity: 1;
                                transform: translateX(0px);

                            }
                        }
                    }

                    .translate-sobre-ghibli-1 {
                        transition: 1s all ease-in;

                        // position: relative;
                        .contenedor-imagen-sobre-ghibli {
                            transition: 1s all ease-out;
                            transform: translateX(-100%);
                            opacity: .5;
                            // position: relative;
                            // top: -100px;
                        }

                        .contenido-textos {
                            .texto-1 {
                                transition: 1s all ease-out;
                                transform: translateY(-150%);
                                opacity: .5;


                            }

                            .texto-2 {
                                transition: .6s all ease-out;
                                transform: translateY(150%);
                                opacity: .5;


                            }
                        }
                    }
                }
            }
        }

        .seccion-peliculas {
            .contenedor-peliculas {
                display: flex;
                flex-direction: column;
                border: 2px solid darkmagenta;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .swiper-pagination-bullet {
                    width: 25px;
                    height: 25px;
                    text-align: center;
                    line-height: 25px;
                    font-size: 12px;
                    color: rgb(61, 61, 61);
                    opacity: 1;
                    // box-shadow: 0 0 9px 0 rgba(0,0,0,.5);
                    background: white;
                }

                .swiper-pagination-bullet-active {
                    color: #fff;
                    background: $color2;
                }

                .carousel-peliculas {
                    border: 1px solid darkcyan;
                    display: flex;
                    max-width: 92%;
                    position: relative;
                    margin-bottom: 3.5rem;

                    .arrows-peliculas {

                        .flecha-derecha,
                        .flecha-izquierda {
                            opacity: .7;
                            transform: scale(.9);
                            color: $color1;

                            &:hover {
                                transition: opacity .5s, transform .4s;
                                opacity: 1;
                                transform: scale(1)
                            }
                        }

                        .flecha-derecha {
                            right: .5rem;
                        }

                        .flecha-izquierda {
                            left: .5rem;
                        }
                    }

                    .peliculas {
                        border: 1px solid deeppink;
                        width: 88%;
                        display: flex;
                        padding-bottom: 50px;

                        .pelicula {
                            border: 1px solid darkcyan;
                            overflow: hidden;
                            height: 408px;
                            width: 288px;
                            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, .7);
                            position: relative;

                            .portada {
                                .img-pelicula {
                                    // max-height: 408px;
                                    // max-width: 288px;
                                    width: 100%;
                                    // transform: scale(1.05, 1.1);
                                    object-fit: cover;
                                }
                            }

                            .informacion {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: space-between;
                                position: absolute;
                                height: 100%;
                                width: 100%;
                                background: #48aef0e6;
                                top: 90%;
                                color: #fff;
                                transition: top .7s;

                                .contenedor-nombre {
                                    display: flex;
                                    // background: red;
                                    align-items: center;
                                    justify-content: center;
                                    height: 10%;
                                    width: 100%;
                                    transition: margin 0.7s;

                                    .nombre {
                                        font-size: 1.1rem;
                                    }
                                }

                                &:hover {
                                    top: 0;
                                }

                                &:hover .contenedor-nombre {
                                    margin-top: 2rem;
                                }

                                .ver-peliculas {
                                    display: block;
                                    margin: 2.5rem;
                                }

                                .sipnosis {
                                    text-align: center;
                                    padding: 0 1rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        .seccion-galeria {
            background: #f2f2f2;

            .galeria {
                border: 2px solid darkmagenta;

                .contenedor-barra-busqueda {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 1rem;
                    border: 1px solid red;

                    .barra-busqueda {
                        width: 70%;
                        height: 40px;
                        line-height: 40px;
                        background: #fff;
                        padding: 0 20px;
                        border-radius: 100px;
                        border: none;
                        text-align: center;
                        font-size: 16px;
                        color: #414141;
                        outline: none;
                    }
                }

                .categorias-galeria {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    margin-bottom: 2.5rem;
                    border: 1px solid red;

                    .categoria-galeria {
                        color: #9B9B9B;
                        margin: 10px 20px;
                        font-size: 18px;
                        font-weight: 700;
                        list-style: none;
                        cursor: pointer;
                    }

                    .activo {
                        color: #555555;
                    }
                }

                .imagenes-galeria {
                    border: 1px solid darkcyan;
                    display: flex;
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(240px, 240px));
                    width: 100%;
                    grid-gap: 1rem;
                    // flex-grow: 1;
                    max-height: 980px;
                    min-height: 490px;
                    height: 490px;
                    transition: height 2s;
                    align-content: flex-start;
                    justify-content: center;
                    // overflow: auto;

                    .imagen-galeria {
                        height: 230px;
                        -o-object-fit: cover;
                        object-fit: cover;
                        overflow: hidden;
                        position: relative;
                        cursor: pointer;
                        box-shadow: 0 0 9px 0 rgba(0, 0, 0, .5);
                        border-radius: 15px;
                        width: 100%;

                        >img {
                            width: 100%;
                            height: 100%;
                            -o-object-fit: cover;
                            object-fit: cover;
                        }

                        .hover-imagen-galeria {
                            background: rgba(72, 173, 240, 0.5);
                            position: absolute;
                            width: 150%;
                            height: 150%;
                            top: -25%;
                            left: -25%;
                            transform: scale(0);
                            border-radius: 50%;
                            transition: transform .5s;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;

                            img {
                                width: 51px;
                            }

                            p {
                                color: white;
                            }
                        }
                    }

                    .imagen-galeria:hover>img {
                        transition: -webkit-filter .5s;
                        transition: filter .5s;
                        transition: filter .5s, -webkit-filter .5s;
                        -webkit-filter: blur(2px);
                        filter: blur(2px);
                    }

                    .imagen-galeria:hover .hover-imagen-galeria {
                        transform: scale(1);
                    }

                }
            }

            .overlay {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(255, 255, 255, 0.9);
                width: 100%;
                height: 100vh;
                display: none;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                z-index: 1500;

                .contenedor-img {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    max-width: 50%;
                    ;
                    box-shadow: 0 0 9px 0 rgba(0, 0, 0, .5);

                    img {
                        max-width: 100%;
                    }

                    #btn-cerrar-popup {
                        background: white;
                        box-shadow: 0 0 12px 0 rgba(0, 0, 0, .5);
                        padding: .4rem .7rem;
                        border-radius: 50%;
                        font-size: 18px;
                        color: $color1;
                        border: none;
                        cursor: pointer;
                        position: absolute;
                        top: -.5rem;
                        right: -.5rem;
                        outline: none;

                        &:hover {
                            transition: all 0.4s linear;
                            background: $color1;
                            transform: scale(1.2);
                            color: white;
                        }

                        &:active {
                            transform: scale(.75);
                        }
                    }
                }

                .descripcion {
                    display: block;
                    background: white;
                    color: $color1;
                    box-shadow: 0 0 9px 0 rgba(0, 0, 0, .5);
                    padding: 20px;
                    text-align: center;
                    margin-top: 5px;
                    border-radius: 10px;
                    // max-width: 50%;
                    width: 50%;
                }
            }

            .activo-overlay {
                display: flex;
            }

            .contenedor-boton-ver-mas {
                display: flex;
                justify-content: center;
                padding: 3.5rem 0;
                border: 1px solid red;

                .boton-ver-mas {
                    font-size: 1.2rem;
                    outline: none;
                    /*quitar border pordefecto del boton al hacer click*/
                }
            }
        }

        .seccion-kaiosamas-ghibli {
            background: url(../../galeria/fondo2.png) no-repeat fixed;
            width: 100%;
            background-size: cover;
            position: relative;

            &:before {
                content: ' ';
                position: absolute;
                background-color: rgba(255, 255, 255, .8);
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }

            .contenedor-kaiosamas-ghibli {

                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;

                .contenedor-titulo-kaiosama {
                    position: relative;
                    margin-top: 3.5rem;
                    // background-color: #c3c3c3;
                    // background-blend-mode: soft-light;
                }

                .kaiosamas {
                    position: relative;
                    margin: 0 0 3.5rem;
                    width: 85%;
                    display: grid;
                    grid-template-columns: 1.5fr 2fr 1.5fr;
                    // grid-template-columns: repeat(2, 50%);
                    grid-template-rows: repeat(3);
                    grid-template-areas:
                        "k1 k1 ."
                        ". k2 k2"
                        "k3 k3 .";
                    grid-gap: 1.5rem 0;
                    // grid-template-columns: 
                    // [line-start] 1fr
                    // [line-end] 1fr;
                    // grid-template-rows: 
                    // [fila-star] 1fr
                    // [fila-center] 1fr
                    // [fila-end] 1fr;

                    .kaiosama {
                        min-width: 320px;
                        display: flex;
                        justify-content: space-between;
                        // margin: 1.5rem 0;
                        height: 180px;
                        box-shadow: 0 0 9px 0 rgba(0, 0, 0, .5);
                        background: white;

                        .contenedor-imagen-kaiosama {
                            height: 180px;
                            // overflow: hidden;
                            min-width: 160px;
                            width: 160px;

                            img {
                                width: 100%;
                                height: 100%;
                                -o-object-position: 30%;
                                object-position: 30%;
                                -o-object-fit: cover;
                                object-fit: cover;
                                transition: 1s;

                                &:hover {
                                    transform: scale(1.2);
                                }
                            }
                        }

                        .contenido-textos-kaiosama {
                            display: flex;
                            flex-direction: column;
                            padding: 3rem 2rem 1.5rem;
                            overflow: hidden;
                            transition: padding 1s;
                            position: relative;

                            // background:  blue;
                            h3 {
                                margin-bottom: .5rem;
                                position: relative;
                                // background:green;
                                color: black;
                                top: 0;
                                transition: top 1s;
                            }

                            .contenedor-p {
                                overflow: hidden;
                                position: relative;

                                // background: red;
                                p {
                                    font-size: 1rem;
                                }
                            }


                            .contenedor-boton-leer-mas {
                                display: flex;
                                justify-content: center;
                                // background: green;
                                text-align: center;
                                width: 100%;
                                position: relative;
                                bottom: -.2rem;
                                padding: .2rem;

                                // display: none;
                                .boton-leer-mas {
                                    outline: none;
                                    background: none;
                                    border: none;
                                    color: $color2;
                                    font-size: 1rem;
                                    cursor: pointer;
                                    transition: .5s;

                                    &:hover {
                                        color: $color1;
                                        transform: scale(1.1)
                                    }
                                }

                            }
                        }

                    }

                    .k1 {
                        grid-column: 1 / span 2;
                        grid-row: 1;
                        grid-area: k1;
                        // grid-column: line-start / span 1;
                        // grid-row: fila-start / span 1;

                        .contenedor-boton-leer-mas {
                            right: 0;
                        }
                    }

                    .k2 {
                        grid-column: span 2 / -1;
                        grid-row: 2;
                        grid-area: k2;
                        // grid-column: line-end;
                        // grid-row: fila-center / span 1;

                        display: flex;
                        flex-direction: row-reverse;
                        text-align: end;

                        .contenedor-imagen-kaiosama {
                            img {
                                -o-object-position: 20%;
                                object-position: 20%;
                            }
                        }

                        .contenido-textos-kaiosama {
                            align-items: flex-end;

                            h3 {
                                // display: flex;
                                flex-direction: row-reverse;
                            }

                            .contenedor-boton-leer-mas {
                                left: 0;
                            }
                        }
                    }

                    .k3 {
                        grid-column: 1 / span 2;
                        grid-row: 3;
                        grid-area: k3;
                        // grid-column: line-start / span 1;
                        // grid-row: fila-end / span 1;



                        .contenedor-boton-leer-mas {
                            right: 0;
                        }
                    }
                }
            }

        }









        .seccion-frases {
            .contenedor-carousel-frases {
                .carousel-frases {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .flecha-izquierda,
                    .flecha-derecha {
                        // position: absolute;
                        border: none;
                        background: rgba(255, 255, 255, .5);
                        box-shadow: 0 0 9px 0 rgba(0, 0, 0, .5);
                        font-size: 41px;
                        border-radius: 50%;
                        top: calc(50%-25%);
                        line-height: 40px;
                        width: 50px;
                        height: 50px;
                        color: $color1;
                        cursor: pointer;
                        transition: .3s ease all;
                        outline: none;

                        &:hover {
                            background: rgba(0, 0, 0, .8);
                            background: $color1;
                            color: white;
                        }
                    }

                    .flecha-izquierda {
                        left: 3rem;
                        padding-right: 5px;

                        &:hover {
                            transform: translateX(-.4rem)
                        }
                    }

                    .flecha-derecha {
                        right: 3rem;
                        padding-left: 5px;

                        &:hover {
                            transform: translateX(.4rem)
                        }
                    }

                    margin-bottom: 3.5rem;

                    .contenedor-frases {
                        width: 85%;
                        overflow: hidden;

                        .frases::-webkit-scrollbar {
                            display: none;
                        }

                        .frases {
                            scroll-behavior: smooth;
                            overflow: scroll;
                            display: flex;
                            // overflow: hidden;
                            // scroll-snap-type: x proximity;
                            -ms-scroll-snap-type: x mandatory;
                            scroll-snap-type: x mandatory;

                            // width: calc(100% / 3);
                            .contenedor-frase {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                overflow: hidden;
                                width: 100%;
                                flex-shrink: 0;
                                scroll-snap-align: center;

                                .frase {
                                    display: flex;
                                    flex-direction: column;
                                    text-align: center;
                                    justify-content: center;
                                    align-items: center;
                                    padding: 2rem;
                                    width: calc(100% - 20px);
                                    height: calc(100% - 20px);
                                    ;
                                    box-shadow: 0 0 9px 0 rgba(0, 0, 0, .5);

                                    .contenedor-img-frase {
                                        .img-frase {
                                            width: 120px;
                                            height: 120px;
                                            -o-object-fit: cover;
                                            object-fit: cover;
                                            border: 3px solid #fff;
                                            border-radius: 50%;
                                            display: block;
                                            margin-bottom: 1rem;
                                        }
                                    }

                                    .contenido-texto {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;

                                        .titulo-frase {
                                            width: 60%;
                                            color: rgba(0, 0, 0, .8);
                                            font-weight: 300;
                                            font-style: oblique;
                                            font-size: 16px;
                                        }

                                        .parrafo-frase {
                                            font-style: italic;
                                            font-weight: 500;
                                            font-size: 20px;
                                            padding-bottom: 5px;
                                            color: $color3;
                                            // span{
                                            //     color: black;
                                            //     font-size: 50px;
                                            // }
                                        }
                                    }
                                }
                            }
                        }

                        .frases-transition-none {
                            scroll-behavior: inherit;
                        }

                    }
                }
            }
        }

        .seccion-ver-pelis {
            background: #f2f2f2;
            padding-bottom: 3.5rem;

            .ver-pelis {
                .pelis-cont {
                    display: flex;
                    // width: 100%;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                    // align-items: center;
                    margin-bottom: 7.5rem;
                    margin-top: 100px;
                    // border: 1px solid red;

                    .peli {
                        margin: 1rem;
                        min-width: 280px;
                        width: 28%;
                        text-align: center;
                        height: 400px;
                        border: 1px solid darkcyan;
                        border-radius: 15px;
                        background-color: #fff;
                        box-shadow: 0 0 9px 0 rgba(0, 0, 0, .5);
                        overflow: hidden;
                        position: relative;
                        border: 2px solid red;

                        .contenedor-textos-ver-pelis {
                            display: flex;
                            flex-direction: column;
                            // justify-content: start;
                            align-items: center;
                            position: relative;
                            left: 0;
                            right: 0;
                            border-radius: 15px 15px 0 0;
                            height: 100%;
                            background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, 0.5)), url(../../galeria/fondo4.png);
                            background-size: cover;
                            background-position: 60%;
                            color: #fff;
                            padding: 1rem;
                            border: 1px solid red;
                            transition: all .5s ease-in-out;

                            .textos-ver-pelis {
                                position: relative;
                                top: 25%;

                                h3 {
                                    font-size: 35px;
                                }
                            }

                            .cursor-hover-ver-pelis {
                                transition: .5s;
                                position: absolute;
                                top: 100%;
                                left: 45%;
                                opacity: 1;
                                z-index: 50;

                                i {
                                    color: white;
                                    font-size: 2rem;
                                }

                                p {
                                    background-color: white;
                                    color: $color1;
                                    line-height: 2rem;
                                }
                            }

                            &:hover .cursor-hover-ver-pelis {
                                top: 85%;
                            }

                        }

                        .contenedor-textos-ver-pelis-hover {
                            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.8)), url(../../galeria/fondo4.png);
                            background-size: cover;
                            background-position: top;
                            height: 20%;
                            overflow: hidden;
                            position: relative;

                            // top: -60%;
                            // display: none;
                            .textos-ver-pelis {
                                transition: all .5s;
                                opacity: 0;
                                transform: translateY(100px);
                            }

                            .cursor-hover-ver-pelis {
                                transform: scale(.5);
                                opacity: 0;
                            }

                        }

                        .contenedor-imagen-ver-pelis {
                            position: absolute;
                            bottom: -60px;
                            top: calc(100% - 240px);
                            // bottom: 0;
                            left: 0;
                            right: 0;
                            margin: auto;
                            height: 150px;
                            width: 150px;
                            overflow: hidden;
                            border-radius: 50%;
                            box-shadow: 0 0 9px 0 rgba(0, 0, 0, .5);
                            transition: all .5s ease-in-out;

                            .imagen-ver-pelis {
                                height: 100%;
                                width: 100%;
                                // position: absolute;
                                // left: 50%;
                                // transform: translatex(-50%);


                            }

                        }

                        .contenedor-imagen-ver-pelis-hover {
                            top: calc(-100% + 100px);
                            transform: scale(.6);
                        }

                        .enlaces-ver-pelis {
                            visibility: hidden;
                            margin-top: 80px;
                            opacity: 0;
                            height: 55%;
                            overflow: auto;
                            padding: 0.3rem;

                            &::-webkit-scrollbar {
                                display: none;
                            }

                            .enlace-ver-peli {
                                margin: .5rem 0;
                                line-height: 1rem;
                                padding: .7rem;
                                font-size: .9rem;
                            }
                        }

                        .enlaces-ver-pelis-hover {
                            transition: all .8s ease-in-out;
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    // .animeyt{
                    //     .contenedor-imagen-ver-pelis{
                    //         .imagen-ver-pelis{
                    //             // transform: scale(.8);
                    //         }
                    //     }
                    // }
                    .animeflv {
                        img {

                            background: #9da1a4;
                        }
                    }
                }
            }
        }

        footer {
            background: #414141;
            padding: 60px 0 30px 0;
            margin: auto;
            overflow: hidden;

            .contenedor-footer {
                display: flex;
                width: 90%;
                justify-content: space-evenly;
                margin: auto;
                padding-bottom: 50px;
                border-bottom: 1px solid #ccc;

                .content-foo {
                    text-align: center;

                    h4 {
                        color: #fff;
                        border-bottom: 3px solid $color3;
                        padding-bottom: 5px;
                        margin-bottom: 10px;
                    }

                    p {
                        color: #ccc;
                    }
                }
            }

            .titulo-final {
                text-align: center;
                font-size: 24px;
                margin: 20px 0 0 0;
                color: #9e9797;
            }
        }
    }

}