* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none !important;
}

// *GENERALES

a {
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

p {
    font-family: $lato;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: $roboto;
    color: #000;

    header {
        background: #48aef0 url(../../galeria/ghibli-mobile-2.jpg);
        background: linear-gradient(to right, rgba(72, 173, 240, 0.3), rgba(53, 127, 176, 0.4)), url(../../galeria/ghibli-mobile-2.jpg);
        
        // @include background-before {
            //     background: rgba(0, 0, 0, 0.2);
            
            // }
            
            min-height: 100vh;
            background-position: center;
            background-size: cover;
            @extend .parallax;
            overflow: hidden;
            position: relative;
        // @extend .center-flex;

        .menu {
            transition: transform .5s ease-in-out;
            position: fixed;
            z-index: 100;
            width: 100%;
            .enlaces{
                width: 70%;
                position: absolute;
                top: 0;
                right: 0;
                height: 100vh;
                background-color: #fff;
                @extend .center-flex, .flex-column;
                justify-content: space-evenly;
                padding: 6rem 0 4rem;
                box-shadow: -15px 0px 10px rgba(0, 0, 0, .2);
                clip-path: circle(0.0% at 100% 0);
                transition: clip-path .7s ease-in-out;
                margin: 0;
            }
            .menudos {
                -webkit-clip-path: circle(150% at 100% 0);
                clip-path: circle(150% at 100% 0);
                height: 100vh;

            }
            .animation-enlace{
                .enlace{
                    animation: aparecer 2s;

                }
            }


            .contenedor-hamburguer{
                z-index: 150;
                position: fixed;
                top: 2rem;
                right: 2rem;
            }
            
        }
        .menu-top{
            transform: translateY(-130px);
        }
        .menu-top-active{
            transform: translateY(0px);

        }


        

        .textos-header {
            @extend .position-absolute;
            top: 15%;
            width: 90%;

            flex-direction: column;
            text-align: center;
            -webkit-animation: opacity_scale 3s ease;
            animation: opacity_scale 3s ease;

            .titulo-textos-header {
                font-size: 2.5em;
                color: #fff
            }

            .subtitulo-textos-header {
                font-size: 1.5em;
                color: #fff;
                font-weight: 300;
            }
        }

        .wave {
            // display: none;
            bottom: -5px;
            width: 150%;
            height: 150px;
            bottom: -50px;
            overflow: hidden;
            // display: none;
        }

    }

    main {
        .contenedor {
            max-width: 90%;
            margin: auto;
            overflow: hidden;
            border: 2px solid darkmagenta;
        }

        .titulo {
            color: $color1;
            font-size: 3em;
            text-align: center;
            margin: 3.5rem 0;
            border: 1px solid rgb(255, 0, 85);
        }

        .seccion-sobre-ghibli {
            .contenedor-sobre-ghibli {
                .sobre-ghibli {
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;

                    .sobre-ghibli-1,
                    .sobre-ghibli-2 {
                        display: flex;
                        flex-wrap: wrap;
                        overflow: hidden;
                        min-width: 100%;

                        .contenedor-imagen-sobre-ghibli {
                            .imagen-sobre-ghibli-2 {
                                display: none;
                            }

                        }

                        .contenido-textos-sobre-ghibli {
                            width: 95%;
                            margin: auto;

                            .texto-sobre-ghibli-1,
                            .texto-sobre-ghibli-2,
                            .texto-sobre-ghibli-3 {
                                flex-direction: column;
                                @extend .center-flex;
                                text-align: center;
                                margin-bottom: .5rem;

                                .contenedor-parrafo-sobre-ghibli {
                                    height: 0;
                                    max-height: auto;
                                    overflow: hidden;
                                    transition: height .5s ease-out;

                                    .parrafo-sobre-ghibli {
                                        margin: 1rem 0;
                                        text-align: justify;
                                    }
                                }

                                .contenedor-parrafo-sobre-ghibli-1 {
                                    max-height: 150px;
                                }

                                .contenedor-parrafo-sobre-ghibli-2 {
                                    max-height: 240px;
                                }

                                .contenedor-parrafo-sobre-ghibli-3 {
                                    max-height: 450px;

                                    .contenedor-boton-leer-mas-historia {
                                        .boton-leer-mas-historia {
                                            color: $color1;

                                        }

                                    }
                                }

                                .contenedor-h3-sobre-ghibli {
                                    width: 100%;
                                    height: 2rem;
                                    background-color: #48adf041;
                                    border-radius: 10px;
                                    @extend .center-flex;
                                    position: relative;

                                    .h3-sobre-ghibli {
                                        position: relative;
                                        color: $color1;
                                        width: 100%;
                                        @extend .position-absolute;
                                        margin: auto;

                                        i {
                                            display: none;
                                        }

                                    }
                                }


                            }

                            .texto-sobre-ghibli-visible {
                                .contenedor-parrafo-sobre-ghibli {
                                    // max-height: inherit;
                                    transition: height 1.2s ease-out;
                                    height: 600px;
                                }

                                .contenedor-h3-sobre-ghibli {
                                    background-color: #409ad671;

                                }
                            }
                        }
                    }

                }

                .contenedor-boton-sobre-ghibli {
                    display: none;
                }
            }
        }

        .seccion-peliculas {
            .contenedor-peliculas {
                margin-bottom: 3.5rem;
                @extend .flex-column;
                justify-content: space-around;
                align-items: center;



                .swiper-pagination-bullet {
                    display: none;
                }

                .carousel-peliculas {
                    width: 100%;
                    @extend .flex-column;



                    .peliculas {
                        width: 100%;
                        height: calc(408px / 1.6 + 140px);
                        overflow-y: visible;
                        display: flex;


                        .arrows-peliculas {
                            @extend .center-flex;

                            .flecha-derecha,
                            .flecha-izquierda {
                                top: calc(50% - 50px);
                                height: 3.2rem;
                                width: 3.2rem;
                                color: white;
                                background-color: rgba(0, 0, 0, .5);
                                // padding: 2rem 1.8rem;
                                border-radius: 50%;
                                cursor: pointer;
                                outline: none;
                                transition: transform .7s, background-color .5s;



                                i {
                                    font-size: 2.5rem;
                                    transition: transform .5s;


                                }

                                &:active,
                                &:hover {
                                    color: $color1;
                                    background-color: rgba(0, 0, 0, .8);

                                }
                            }

                            .flecha-izquierda {
                                left: 2%;

                                i {
                                    transform: translateX(-2px);
                                }

                                &:active,
                                &:hover {
                                    transform: translateX(-.215em)
                                }
                            }

                            .flecha-derecha {
                                right: 2%;

                                i {
                                    transform: translateX(2px);
                                }

                                &:active,
                                &:hover {
                                    transform: translateX(.15rem)
                                }
                            }

                            .flecha-derecha:after,
                            .flecha-izquierda:after {
                                display: none;
                            }

                            // .flecha-derecha {
                            //     right: .5rem;
                            // }

                            // .flecha-izquierda {
                            //     left: .5rem;
                            // }
                        }


                        .pelicula {
                            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, .7);
                            height: calc(408px / 1.6);
                            width: calc(288px / 1.6);

                            .portada {


                                .img-pelicula {
                                    object-fit: cover;
                                }
                            }

                            .informacion {
                                .contenedor-nombre-ver-pelis {
                                    display: none;
                                    text-align: center;
                                    margin: 1rem 0;
                                }

                                .ver-peliculas {
                                    display: none;
                                    margin: 1rem 2.5rem;
                                }
                            }
                        }

                        .pelicula-active {
                            .informacion {
                                .contenedor-nombre-ver-pelis {
                                    display: block;
                                }

                                .ver-peliculas {
                                    display: block;
                                }
                            }
                        }

                        .swiper-slide-active {
                            .informacion {
                                .contenedor-nombre-ver-pelis {
                                    display: block;
                                }

                                .ver-peliculas {
                                    display: block;
                                }
                            }
                        }

                        .position-absolute-informacion {
                            .informacion {
                                position: absolute;
                                @extend .height-width;
                                @extend .center-flex;
                                flex-direction: column;
                                background: #48aef0e6;
                                top: 90%;
                                color: #fff;
                                transition: top .7s;

                                .contenedor-nombre {
                                    @extend .center-flex;
                                    height: 10%;
                                    width: 100%;
                                    transition: margin 0.7s;

                                }

                                &:hover {
                                    top: 0;
                                }

                                &:hover .contenedor-nombre {
                                    margin-top: 2rem;
                                }


                            }
                        }

                    }

                }
            }
        }
    }
}