.escalar{
    animation: escalar .8s;
}



@keyframes img1Totoro {
    0% {
        // transform: scale(0);
        opacity: .5;
        transform: scale(.1) ;
    }
    100% {
        // transform: scale(1);
        transform: scale(1) translateX(0);
        opacity: 1;
    }
}

@keyframes escalar {
    0% {
        
        transform: scale(1) ;
    }
    50% {
        transform: scale(1.2);
    }
}
@keyframes opacity_scale {
    0% {
        transform: scale(.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
}