@include height(1030px, 1136px) {
    body {
        header {
            max-height: 45vh;
            background-size: contain;

            .textos-header {
                top: 30%;
            }
        }
    }
}

@include height(1000px, 1020px) {
    body {
        header {
            max-height: 50vh;
            background-size: contain;
        }
    }
}

@include height(1000px, 768px) {
    body {
        header {
            max-height: 45vh;
        }
    }
}

@media screen and (min-height: 1041px) {
    body {
        header {
            max-height: 40vh;
        }
    }
}

@media screen and (max-height: 900px) and (max-width: 730px) {
    body {
        header {
            max-height: 98vh;
            background-size: cover;
        }
    }
}

// @media (min-height: 1200px) and (min-width: 1136px){
//     body {
//         header {
//             background-size: cover;            
//         }
//     }
// }
@include media(1136px) {
    body {

        //    font-family: $maquina;
        header {
            justify-content: center;

            .textos-header {
                line-height: 1.2rem;
                width: 80%;
            }
        }

        main {
            .contenedor {
                padding: 0 .5rem;
            }

            .contenedor-imagen-sobre-ghibli {
                .imagen-sobre-ghibli-1 {
                    max-height: 100%;
                }
            }

            .contenido-textos {
                min-width: 43%;
            }

            .contenedor-peliculas {
                width: 95%;

            }

            .swiper-pagination-bullet {
                display: none;
            }

            .seccion-kaiosamas-ghibli {
                .contenedor-kaiosamas-ghibli {
                    .kaiosamas {
                        grid-template-columns: 1.5fr 2.5fr 1.5fr;
                    }
                }
            }

        }
    }
}


@include media(1020px) {
    body {

        //    font-family: $maquina;
        header {
            .menu {
                padding-right: 0;

                .enlaces {
                    justify-content: center;

                    .enlace {
                        margin: 0 10px;
                    }
                }
            }

            .textos-header {
                width: 90%;

                .titulo-textos-header {
                    font-size: 45px;
                }
            }
        }

        main {
            .contenedor {
                width: 90%;
            }

            .seccion-sobre-ghibli {
                .contenedor-sobre-ghibli {
                    .contenedor-boton-sobre-ghibli {
                        transform: translateX(85%);
                    }

                    .translate-boton-sobre-ghibli {
                        transform: translateX(0);

                    }
                }
            }

            .seccion-peliculas {
                .contenedor-peliculas {
                    .carousel-peliculas {
                        .arrows-peliculas {
                            .flecha-derecha {
                                right: -1rem;
                            }

                            .flecha-izquierda {
                                left: -1rem;
                            }
                        }
                    }
                }
            }

            .seccion-kaiosamas-ghibli {
                .contenedor-kaiosamas-ghibli {
                    .kaiosamas {
                        width: 90%;
                        grid-template-columns: .5fr 3fr .5fr;
                    }
                }
            }

            .seccion-frases {
                .contenedor-carousel-frases {
                    .carousel-frases {
                        .contenedor-frases {
                            .frases {
                                .contenedor-frase {
                                    .frase {
                                        width: 90%;
                                        border-radius: 10px;
                                        // box-shadow: none;

                                    }
                                }
                            }
                        }
                    }
                }
            }

            .seccion-ver-pelis {
                .ver-pelis {
                    h2 {
                        margin-top: 7rem;
                        margin-bottom: 1.5rem;
                        // display: none;
                    }
                    
                    .pelis-cont {
                        margin-bottom: 3.5rem;
                        
                        margin-top: 0;
                        .peli {
                            width: 100%;
                            background-color: transparent;
                            height: auto;
                            box-shadow: none;
                            border-radius: 15%;
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            overflow: visible;
                            padding: 2rem;
                            padding-bottom: calc(200px - 2rem);

                            .contenedor-textos-ver-pelis {
                                justify-content: center;
                                border-radius: 2rem;
                                width: 100%;
                                // padding: 2rem 0;
                                font-size: 1.7rem;
                                background: transparent;
                                margin: 0;
                                height: 100%;
                                width: 100%;
                                transition: height .5s;

                                // background: blue;
                                // color: $color1;
                                // align-items: flex-start;
                                .textos-ver-pelis {
                                    color: $color2;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    flex-wrap: wrap;
                                    vertical-align: center;

                                    h3 {
                                        // margin-left: 3rem;
                                        // flex-basis: 70%;
                                        font-size: 3rem;

                                    }

                                    p {
                                        // display: none;
                                        // flex-basis: 50%;
                                    }
                                }

                                .cursor-hover-ver-pelis {
                                    display: none;
                                }
                            }

                            .contenedor-textos-ver-pelis-hover {
                                transition: height .5s;
                                height: 0;
                            }

                            .contenedor-imagen-ver-pelis {
                                // top: 0;
                                bottom: 0;
                                right: 0;
                                // transform: translateX(calc(100% - 200px));
                                top: initial;
                                left: 0;
                                position: absolute;
                                margin: auto;
                                display: flex;
                                min-height: 200px;
                                min-width: 200px;
                                // display: none;
                                // left: 0;
                                // min-height: 150px;
                                // width: 150px;
                                // left: calc(100% - 175px);
                                // bottom: 0;
                                // top: 0;
                                // transform: translateY(100px);
                                // position: relative;
                                // margin: 0;
                                // background: blue;
                                // top: calc(100% - 290px);
                                // transition: all .5s  linear;


                                .imagen-ver-pelis {}
                            }

                            .contenedor-imagen-ver-pelis-hover {
                                // top: calc(-100% + 100px);
                                transform: scale(.6);
                            }

                            .enlaces-ver-pelis {
                                visibility: visible;
                                height: 0;
                                transition: all .8s ease-in-out;
                                // background-color: #fff;
                                border-radius: 10px;

                                // background: green;
                                // margin: 0;
                                // opacity: 1;
                                // height: 0;

                                .enlace-ver-peli {
                                    font-size: 1.3rem;
                                    line-height: 1.3rem;
                                    padding: .5;

                                }
                            }

                            .enlaces-ver-pelis-hover {
                                transition: all .8s ease-in-out;
                                opacity: 1;
                                height: 500px;
                                margin: 0;
                                // visibility: visible;
                            }


                        }
                    }
                }
            }
        }
    }
}

@include media (850px) {
    body {
        main {
            .seccion-galeria {
                .galeria {
                    width: 80%;

                    .imagenes-galeria {
                        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

                    }
                }
            }

        }
    }
}



@include media(768px) {
    body {
        main {
            .seccion-sobre-ghibli {
                .contenedor-sobre-ghibli {
                    .sobre-ghibli {

                        .contenedor-sobre-ghibli-1,
                        .contenedor-sobre-ghibli-2 {
                            justify-content: center;

                            .contenedor-imagen-sobre-ghibli {
                                min-width: 100%;

                                .imagen-sobre-ghibli-2 {
                                    max-width: 80%;
                                }
                            }


                            .contenido-textos {
                                width: 80%;
                                text-align: center;
                                justify-content: start;

                                h3 {
                                    color: $color1;
                                }

                                i {
                                    display: none;
                                }
                            }

                        }

                        .translate-sobre-ghibli-1,
                        .translate-sobre-ghibli-2 {
                            .contenido-textos {
                                overflow: hidden;
                            }
                        }
                    }

                    .contenedor-boton-sobre-ghibli {
                        transform: translateX(75%);
                    }

                    .translate-boton-sobre-ghibli {
                        transform: translateX(10%);
                    }


                }
            }

            .seccion-peliculas {
                .contenedor-peliculas {
                    .carousel-peliculas {

                        // .arrows-peliculas{
                        //     // display: none;
                        // }
                        .peliculas {
                            width: 90%;
                        }
                    }
                }
            }


            .seccion-kaiosamas-ghibli {
                .contenedor-kaiosamas-ghibli {
                    .kaiosamas {
                        width: 90%;
                        grid-template-columns: .15fr 3.5fr .15fr;
                    }
                }
            }

            .seccion-frases {
                .contenedor-carousel-frases {
                    .carousel-frases {

                        .flecha-izquierda,
                        .flecha-derecha {
                            box-shadow: 0 0 9px 0 rgba(0, 0, 0, .3);

                        }

                        .contenedor-frases {
                            .frases {
                                .contenedor-frase {
                                    .frase {
                                        width: 90%;
                                        border-radius: 10px;
                                        box-shadow: none;

                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }

}

@include media(700px) {
    body {
        header {
            position: relative;

            .menu {
                padding: 0 10px;

                .enlaces {
                    position: fixed;
                    // // background: #FF0099;  /* fallback for old browsers */
                    background: white;
                    // background: red;
                    top: 0;
                    right: 0;
                    height: 100vh;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    // // background: -webkit-linear-gradient(to right, #493240, #FF0099);  /* Chrome 10-25, Safari 5.1-6 */
                    // background: linear-gradient(to right, #493240, #FF0099); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    clip-path: circle(0.0% at 100% 0);
                    padding: 5rem 0;
                    transition: ease-in-out 0.5s;
                    width: 70%;
                    box-shadow: -15px 0px 10px rgba(0, 0, 0, .2);

                    .enlace {
                        color: black;
                        background: white;
                        display: inline-block;
                        line-height: 2.5em;
                        padding: 0 1.25em;
                        text-decoration: none;
                        border-radius: 1.25em;
                        // box-shadow: 0 0 9px 0 rgba(0,0,0,.5);
                        outline: none;
                        cursor: pointer;

                        &:hover {
                            transition: all 0.4s linear;
                            background: $color1;
                            color: white;
                        }

                        &:active {
                            transform: scale(.95);
                        }

                        &:after {
                            display: none;
                        }
                    }
                }

                .menudos {
                    -webkit-clip-path: circle(150% at 100% 0);
                    clip-path: circle(150% at 100% 0);
                }

                .contenedor-hamburguer {
                    cursor: pointer;
                    @extend .center-flex;
                    transition: color 0.5s ease-in;
                    position: absolute;
                    top: 2rem;
                    right: 2rem;
                    .hamburguer{
                        background-color: #000;
                        width: 40px;
                        height: 5px;
                        border-radius: 2.5px;
                        position: relative;
                        &:before, &:after{
                            content: " ";
                            position: absolute;
                            display: block;
                            width: 40px;
                            height: 5px;
                            border-radius: 2.5px;
                            background-color: #000;
                            top: -0.7rem;

                        }
                    }

                    &:active {
                        transform: scale(1.05);
                    }
                }

                .contenedor-hamburguer-scroll {
                    background: white;
                    box-shadow: 0 0 9px 0 rgba(0, 0, 0, .5);
                }

                .contenedor-hamburguer-dos {
                    background: none;
                    box-shadow: none;
                }
            }

            .menu-scroll {
                .enlaces {
                    margin-right: 0;
                }
            }

            // .textos-header {
            //     h1 {
            //         font-size: 35px;
            //     }

            //     h2 {
            //         font-size: 20px;
            //     }
            // }

            .textos-header {
                top: 0;
                bottom: 150px;
                right: 0;
                left: 0;
                width: 75%;
                margin: auto;

                .titulo-textos-header {
                    line-height: 3rem;
                    font-size: 3rem;
                    margin: 1rem;
                }

                .subtitulo-textos-header {
                    font-size: 2rem;
                    line-height: 2rem;
                }
            }
        }

        main {

            .seccion-peliculas {
                .contenedor-peliculas {
                    .carousel-peliculas {
                        .arrows-peliculas {
                            display: none;
                        }

                        .peliculas {
                            width: 100%;

                            .pelicula {
                                // height: 50%;
                                height: 408px;
                                height: calc(408px - 10%);
                                width: calc(288px - 5%);
                            }
                        }
                    }
                }
            }

            .seccion-kaiosamas-ghibli {
                .contenedor-kaiosamas-ghibli {
                    .kaiosamas {
                        width: 90%;
                        grid-template-columns: .0fr 3.5fr .0fr;
                    }
                }
            }

        }
    }
}

@include media(650px) {
    body {
        font-size: 1.2rem;

        main {
            .seccion-sobre-ghibli {
                .contenedor-sobre-ghibli {
                    padding: 0;

                    .sobre-ghibli {

                        .contenedor-sobre-ghibli-1,
                        .contenedor-sobre-ghibli-2 {

                            .contenido-textos {
                                width: 90%;
                                font-size: 1.4rem;
                            }

                        }

                        .contenedor-sobre-ghibli-2 {
                            .contenedor-imagen-sobre-ghibli {
                                margin: 3rem 0;
                                height: 100%;
                                width: 100%;
                            }
                        }
                    }

                    .contenedor-boton-sobre-ghibli {
                        transform: translateX(72%);
                    }

                    .translate-boton-sobre-ghibli {
                        transform: translateX(10%);
                    }


                }
            }

        }
    }
}

@include media(600px) {
    body {
        font-size: 1.3rem;

        main {
            .seccion-sobre-ghibli {
                .contenedor-sobre-ghibli {
                    .contenedor-boton-sobre-ghibli {
                        transform: translateX(65%);
                    }

                    .translate-boton-sobre-ghibli {
                        transform: translateX(10%);
                    }


                }

            }

            .seccion-kaiosamas-ghibli {
                &:before {
                    content: ' ';
                    position: absolute;
                    background-color: rgba(255, 255, 255, .9);
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }

                .contenedor-kaiosamas-ghibli {
                    .kaiosamas {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        grid-gap: 1.5rem 0;
                        max-width: 100%;
                        padding-bottom: 2.5rem;


                        .kaiosama {
                            padding: 0;
                            margin: 3.5rem 0 0 0;
                            min-width: 0;
                            width: 280px;
                            max-width: 280px;
                            height: 340px;
                            flex-direction: column;
                            position: relative;
                            align-items: center;
                            // overflow: hidden;
                            border-radius: .5rem;

                            .contenedor-imagen-kaiosama {
                                height: 100%;
                                width: 100%;

                                img {
                                    // max-height: 420px;
                                    // max-width: 300px;
                                    // display: none;
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    margin: auto;

                                    // top: -50px;
                                    &:hover {
                                        transform: none;
                                    }
                                }
                            }

                            .contenido-textos-kaiosama {
                                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.9) 100%);
                                height: 100%;
                                text-align: center;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                position: absolute;
                                color: white;
                                flex-direction: column;

                                h3 {
                                    margin-bottom: .5rem;
                                    position: absolute;
                                    top: 65%;
                                    color: #fff;
                                }

                                .boton-contenedor-p {
                                    position: absolute;
                                    bottom: 5%;
                                    display: block;
                                }

                                .contenedor-p {
                                    transition: 1s;
                                    display: flex;
                                    // justify-content: start;
                                    align-items: center;
                                    flex-direction: column;
                                    position: relative;

                                    // height: 100%;
                                    p {
                                        height: 0;
                                    }
                                }

                                .contenedor-boton-leer-mas {
                                    display: none;

                                    .boton-leer-mas {
                                        display: none;
                                    }
                                }

                                // &:hover {
                                //     background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 1) 100%);
                                //     height: 100%;

                                //     h3 {
                                //         top: 15%;
                                //     }

                                //     .contenedor-p {
                                //         // top: 15%;
                                //     }
                                // }

                            }

                        }

                        .kaiosama-active {
                            // height: 500px;
                            // min-width: 80%;
                            transform: scale(1.3);
                            min-height: 450px;
                            min-width: 80%;
                            z-index: 200;
                            background-color: #fff;

                            .contenedor-imagen-kaiosama {
                                display: none;
                            }

                            .contenido-textos-kaiosama {
                                background: none;
                                position: absolute;
                                padding: 0;
                                margin: 0;
                                color: #000;
                                height: 100%;
                                top: 0;
                                bottom: 0;
                                padding: 2rem;

                                h3 {
                                    top: -10%;
                                    margin: 0;
                                }

                                .boton-contenedor-p {
                                    // bottom: 80%;
                                    font-size: 1.2rem;
                                    position: relative;
                                }

                                .contenedor-p {
                                    transition: 1s;
                                    display: flex;
                                    // justify-content: start;
                                    align-items: center;
                                    flex-direction: column;
                                    position: relative;
                                    height: 100%;
                                    overflow-y: scroll;

                                    p {
                                        font-size: 1.3rem;
                                    }
                                }
                            }


                        }


                        .k1 {
                            text-align: start;
                        }

                        .k2 {
                            grid-column: 1 / span 2;
                            align-items: center;
                            flex-direction: column;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

}

@include media(540px) {
    body {
        font-size: 1.5rem;

        main {
            .seccion-sobre-ghibli {
                .contenedor-sobre-ghibli {
                    padding: 0;

                    .sobre-ghibli {

                        .contenedor-sobre-ghibli-1,
                        .contenedor-sobre-ghibli-2 {

                            .contenido-textos {
                                width: 90%;
                                font-size: 1.4rem;
                            }

                        }

                        .contenedor-sobre-ghibli-2 {
                            .contenedor-imagen-sobre-ghibli {
                                margin: 3rem 0;
                                height: 100%;
                                width: 100%;
                            }
                        }
                    }

                    .contenedor-boton-sobre-ghibli {
                        transform: translateX(56%);
                    }

                    .translate-boton-sobre-ghibli {
                        transform: translateX(5%);
                    }


                }
            }

            .seccion-peliculas {
                .contenedor-peliculas {
                    .carousel-peliculas {
                        .peliculas {
                            .pelicula {
                                .informacion {
                                    top: 80%;
                                    text-align: center;

                                    .contenedor-nombre {
                                        height: 10%;
                                        margin: 1.2rem 0.7rem 1.3rem;

                                        .nombre {
                                            font-size: inherit;
                                            margin: 0 0.5rem;
                                        }
                                    }

                                    .sipnosis {
                                        margin-top: 0.2rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }


            .seccion-kaiosamas-ghibli {
                .contenedor-kaiosamas-ghibli {
                    .kaiosamas {
                        .kaiosama-active {

                            // transform: scale(1.4);
                            p {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }

        }
    }
}

@include media(480px) {
    body {
        main {
            .seccion-sobre-ghibli {
                .contenedor-sobre-ghibli {
                    .sobre-ghibli {
                        .contenedor-sobre-ghibli-1 {
                            .contenedor-imagen-sobre-ghibli {
                                height: 400px;
                            }
                        }
                    }
                }
            }

            .seccion-frases {
                .contenedor-carousel-frases {
                    
                    .carousel-frases {
                        .contenedor-frases {
                            .frases {
                                .contenedor-frase {
                                    .frase {
                                        .contenido-texto{
                                            .contenedor-parrafo-frase {
                                                overflow: hidden;
                                                transition: height 1s, opacity 1s;
                                                height: 0;
                                                opacity: 0;
    
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .seccion-frases {
                .contenedor-carousel-frases {

                    .carousel-frases {
                        .contenedor-frases {
                            .frases {
                                .contenedor-frase {

                                    .frase:active,
                                    .frase:hover .contenedor-parrafo-frase {
                                        height: 100%;
                                        opacity: 1;

                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}

@include media(400px){
    body{
        main{
            .seccion-ver-pelis{
                .ver-pelis{
                    .pelis-cont{
                        .peli{
                            .contenedor-textos-ver-pelis{
                                padding: 0;
                                .textos-ver-pelis{
                                    .titulo-textos-ver-pelis{
                                        font-size: 2.5rem ;
                                    }
                                    p{
                                        font-size: 1.6rem;
                                    }
    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@include media(360px){
    body{
        main{
            .seccion-ver-pelis{
                .ver-pelis{
                    .pelis-cont{
                        .peli{
                            margin: 1rem 0;
                            .contenedor-textos-ver-pelis{
                                padding: 0;
                                .textos-ver-pelis{
                                    .titulo-textos-ver-pelis{
                                        font-size: 2.5rem !important;
                                    }
                                    p{
                                        font-size: 1.6rem;
                                    }
    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-height: 500px){
    body {
        header {
            max-height: 128vh;
            height: 117vh;
           
    
        }
    }
}
@media screen and (max-height: 500px) and (max-width: 700px) {
    body {
        header {
            .textos-header {
                // top: 20%;
                top: 20vh;
    
                .titulo-textos-header {
                    font-size: 2rem;
                    line-height: 2rem;
                }
    
                .subtitulo-textos-header {
                    color: #fff;
                    font-weight: 300;
                    font-size: 1.5rem;
                }
            }
    
        }
    }
}


// @media screen and (max-width:1250px){
//     body{
//         border: 5px solid red;
//         main{
//             .seccion-galeria{
//                 .galeria{
//                     .imagenes-galeria{  
//                         grid-template-columns: repeat(auto-fit, minmax(30%,1fr));
//                         max-height: 1476px;                    }
//                 }
//             }
//             .seccion-kaiosamas-ghibli{
//                 .contenedor-kaiosamas-ghibli{
//                     .kaiosamas{
//                         grid-template-columns: 1.5fr 2.5fr 1.5fr;

//                     }
//                 }
//             }
//             .frases-contenedor{
//                 .contenedor-principal{
//                     .flecha-derecha{
//                         right: 2rem;
//                     }
//                     .flecha-izquierda{
//                         left: 2rem;
//                     }
//                     .contenedor-carousel{
//                         .carousel{
//                             .contenedor{
//                                 min-width: 50%;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
// @media screen and (max-width:1150px){
//     body{
//         main{
//             .seccion-kaiosamas-ghibli{
//                 .contenedor-kaiosamas-ghibli{
//                     .kaiosamas{
//                         width: 90%;
//                         grid-template-columns: 1fr 2.5fr 1fr;  
//                         // visibility: hidden;
//                     }
//                 }
//             }
//         }
//     }
// }
// @media screen and (max-width:110px){
//     body{
//         main{
//             .seccion-kaiosamas-ghibli{
//                 .contenedor-kaiosamas-ghibli{
//                     .kaiosamas{
//                         width: 93%;
//                         grid-template-columns: 1fr 3fr 1fr;  
//                         // visibility: hidden;
//                     }
//                 }
//             }
//         }
//     }
// }
// @media screen and (max-width:1035px){
//     body{
//         border: 5px solid teal;
//         header{
//             background-position: center;
//         }
//         main{
//             .contenedor{
//                 width: 95%;
//                 max-width: 95%;
//                 // padding: 2rem;
//             }
//             .seccion-sobre-ghibli{
//                 .contenedor-sobre-ghibli{
//                     .sobre-ghibli{
//                         display: flex;  
//                         flex-direction: column;
//                         justify-content: center;
//                         align-items: center;
//                         .contenedor-imagen-sobre-ghibli{
//                             max-width: 85%;
//                             img{
//                                 flex-direction: column;
//                                 justify-content: center;
//                                 align-items: center;
//                                 width: 100%;;
//                             }
//                         }
//                         .contenido-textos{
//                             width: 85%;
//                             margin-top: 2rem;
//                         }
//                     }
//                 }
//             }
//             .seccion-galeria{
//                 .galeria{
//                     .imagenes-galeria{  
//                         grid-template-columns: repeat(auto-fit, minmax(31%,1fr));
//                         height: 392px;
//                         min-height: 392px;
//                         max-height: 1176px;
//                         .imagen-galeria{
//                             height: 180px;
//                             transition: height 1s;
//                         }
//                     }
//                 }
//             }
//             .seccion-kaiosamas-ghibli{
//                 .contenedor-kaiosamas-ghibli{

//                     .kaiosamas{
//                         // display: none;
//                         width: 95%;
//                         grid-template-columns: .5fr 3fr .5fr;
//                         // grid-template-areas: 
//                         // "k1"
//                         // "k2"
//                         // "k3";

//                     }
//                     .k1 {
//                         grid-area: k1;
//                     }

//                     .k2 {
//                         grid-area: k2;
//                     }

//                     .k3 {
//                         grid-area: k3;
//                     }   
//                 }
//             }
//             .frases-contenedor{
//                 .contenedor-principal{
//                     .flecha-derecha{
//                         right: 1rem;
//                     }
//                     .flecha-izquierda{
//                         left: 1rem;
//                     }
//                     .contenedor-carousel{
//                         .carousel{
//                             .contenedor{
//                                 min-width: calc((100% / 1) - 7px);
//                                 justify-content: center;
//                             }
//                         }
//                     }
//                 }
//             }
//             .ver-pelis{
//                 .contenedor{
//                     .pelis-cont{
//                         justify-content: center;
//                         flex-direction: column;
//                         .peli{
//                             width: 100%;
//                             text-align: center;
//                             img{
//                                 width: 90%;
//                             }
//                         }
//                         .peli:nth-child(1), .peli:nth-child(2){
//                             margin-bottom: 60px;
//                         }
//                     }
//                 }
//             }
//         }
//     }

// }
// @media screen and (max-width:900px){
//     body{
//         border: 5px solid green;
//         main{
//             .seccion-kaiosamas-ghibli{
//                 .contenedor-kaiosamas-ghibli{
//                     padding: 2rem;
//                     .kaiosamas{
//                         width: 97%;
//                         grid-template-columns: .3fr 3.5fr .3fr;  
//                         // visibility: hidden;
//                     }
//                 }
//             }
//         }
//     }
// }
// @media screen and (max-width:900px){
//     body{
//         border: 5px solid green;
//         main{
//             .seccion-kaiosamas-ghibli{
//                 .contenedor-kaiosamas-ghibli{
//                     padding: 1rem;
//                     .kaiosamas{
//                         width: 100%;
//                         grid-template-columns: .2fr 3.5fr .2fr;  
//                         // visibility: hidden;
//                     }
//                 }
//             }
//         }
//     }
// }
// @media screen and (max-width:790px){
//     body{
//         main{
//             .seccion-ver-pelis{
//                 // display: none;
//                 .ver-pelis{
//                     .pelis-cont{
//                         .peli{
//                             .contenedor-textos-ver-pelis{
//                                 .cursor-hover-ver-pelis{
//                                     top: 85%;
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
// @media screen and (max-width:720px){
//     body{
//         border: 5px solid red;
//         header{
//             // background-position: center;
//             .menu{
//                 padding: 0 10px;
//                 .enlaces{
//                     position: fixed;
//                     // // background: #FF0099;  /* fallback for old browsers */
//                     background: white;
//                     // background: red;
//                     top: 0;
//                     right: 0;
//                     height: 100vh;
//                     display: flex;
//                     flex-direction: column;
//                     align-items: center;
//                     justify-content: space-evenly;
//                     // // background: -webkit-linear-gradient(to right, #493240, #FF0099);  /* Chrome 10-25, Safari 5.1-6 */
//                     // background: linear-gradient(to right, #493240, #FF0099); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//                     clip-path: circle(0.0% at 100% 0);
//                     padding: 5rem 0;
//                     transition: ease-in-out 0.5s;
//                     width: 70%;
//                     box-shadow: -15px 0px 10px rgba(0, 0, 0, .2);
//                     .enlace{
//                         color: black;
//                         background: white;
//                         display: inline-block;
//                         line-height: 2.5em;
//                         padding: 0 1.25em;
//                         text-decoration: none;
//                         border-radius: 1.25em;
//                         // box-shadow: 0 0 9px 0 rgba(0,0,0,.5);
//                         outline: none;
//                         cursor:pointer;
//                         &:hover{
//                             transition: all 0.4s linear;
//                             background: $color1;
//                             color: white;
//                         }
//                         &:active{
//                             transform: scale(.95);
//                         }
//                         &:after{
//                             display: none;
//                         }
//                     }
//                 }
//                 .menudos {
//                     -webkit-clip-path: circle(150% at 100% 0);
//                     clip-path: circle(150% at 100% 0);
//                 }
//                 .contenedor-hamburguer{
//                     display: block;
//                     cursor: pointer;
//                     transition: color 0.5s ease-in;
//                     position: absolute;
//                     top: 2rem;
//                     right: 2rem;
//                     &:active{
//                         transform: scale(1.05);
//                     }
//                 }
//                 .contenedor-hamburguer-scroll{
//                     background: white;
//                     box-shadow: 0 0 9px 0 rgba(0,0,0,.5);
//                 }
//                 .contenedor-hamburguer-dos{
//                     background: none;
//                     box-shadow: none;
//                 }
//             }
//             .menu-scroll{
//                 .enlaces{
//                     margin-right: 0;
//                 }
//             }
//             .textos-header{
//                 h1{
//                     font-size: 35px;
//                 }
//                 h2{
//                     font-size: 20px;
//                 }
//             }
//         }
//         main{
//             .seccion-galeria{
//                 .galeria{
//                     .imagenes-galeria{  
//                         grid-template-columns: repeat(auto-fit, minmax(48%,1fr));
//                         max-height: 1568px;
//                     }
//                 }
//             }
//             .seccion-kaiosamas-ghibli{
//                 .contenedor-kaiosamas-ghibli{
//                     padding: .5rem;
//                     .kaiosamas{
//                         grid-template-columns: 0fr 3.5fr 0fr;  
//                         .kaiosama{
//                             .contenido-textos-kaiosama{
//                                 .contenedor-p{
//                                     p{
//                                         // visibility: hidden;
//                                         overflow: hidden;
//                                     }
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }

//         }
//     }
// }
// @media screen and (max-width:665px){
//     body{
//         border: 3px solid fuchsia;
//         main{
//             .seccion-kaiosamas-ghibli{
//                 &:before {
//                     content: ' ';
//                     position: absolute;
//                     background-color: rgba(255, 255, 255, .9);
//                     top: 0;
//                     bottom: 0;
//                     left: 0;
//                     right: 0;
//                 }
//                 .contenedor-kaiosamas-ghibli{
//                     .kaiosamas{
//                         display: flex;
//                         flex-direction: column;
//                         align-items: center;
//                         grid-gap: 1.5rem 0;
//                         max-width: 100%;
//                         .kaiosama{
//                             padding: 0;
//                             margin: 3.5rem 0 0 0;
//                             min-width: 0;
//                             width: 280px;
//                             max-width: 280px;
//                             height: 340px;
//                             flex-direction: column;
//                             position: relative;
//                             align-items: center;
//                             overflow: hidden;
//                             border-radius: .5rem;

//                             .contenedor-imagen-kaiosama{
//                                 height: 100%;
//                                 width: 100%;
//                                 img{
//                                     // max-height: 420px;
//                                     // max-width: 300px;
//                                     // display: none;
//                                     width: 100%;
//                                     height: 100%;
//                                     position: absolute;
//                                     left: 0;
//                                     right: 0;
//                                     margin: auto;
//                                     // top: -50px;
//                                     &:hover{
//                                         transform: none;
//                                     }
//                                 }
//                             }
//                             .contenido-textos-kaiosama{
//                                 background: linear-gradient(to bottom,  rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.9) 100%);                                height: 100%;
//                                 text-align: center;
//                                 display: flex;
//                                 justify-content: center;
//                                 align-items: center;
//                                position: absolute;
//                                color: white;
//                                h3{
//                                 margin-bottom: .5rem;
//                                 position: relative;
//                                 top: 80%;
//                                 color: white;    
//                                 }
//                                 .contenedor-p{
//                                     transition: 1s;
//                                     top: 85%;
//                                     display: flex;
//                                     justify-content: center;
//                                     align-items: center;                                
//                                 }
//                                 &:hover{
//                                     background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0,0,0,1) 100%);                                height: 100%;
//                                     h3{
//                                     top: 15%;
//                                    }
//                                     .contenedor-p{
//                                         top: 15%;
//                                     }
//                                 }

//                             }

//                             .contenedor-boton-leer-mas{
//                                 .boton-leer-mas{
//                                     display: none;
//                                 }
//                             }
//                         }
//                         .k1{
//                             text-align: start;
//                         }
//                         .k2{
//                             grid-column: 1 / span 2;
//                             align-items: center;
//                             flex-direction: column;
//                             text-align: center;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
// @media screen and (max-width:480px){
//     body{
//         border: 5px solid rgb(0, 255, 42);

//         main{
//             .contenedor{
//                 width: 95%;
//                 padding: 0 1rem; 
//             }
//             .seccion-sobre-ghibli{
//                 .contenedor-sobre-ghibli{
//                     .sobre-ghibli{
//                         .contenedor-imagen-sobre-ghibli{
//                             max-width: 100%;
//                             height: auto;
//                             img{
//                                 width: 100%;
//                             }
//                         }
//                         .contenido-textos{
//                             width: 95%;
//                         }
//                     }
//                 }
//             }
//             .seccion-galeria{
//                 .galeria{
//                     .imagenes-galeria{  
//                         grid-template-columns: repeat(auto-fit, minmax(85%,1fr));
//                         max-height: 1968px;
//                         .imagen-galeria{
//                             width: 100%;
//                         }
//                     }
//                 }
//             }
//             .frases-contenedor{
//                 .contenedor-principal{
//                     .flecha-izquierda, .flecha-derecha{
//                         z-index: auto;
//                     }
//                     .flecha-derecha{
//                         right: 1rem;
//                     }
//                     .flecha-izquierda{
//                         left: 1rem;
//                     }
//                     .contenedor-carousel{
//                         .carousel{
//                             height: 350px;
//                             .frase-contenedor{
//                                 height: 350px;
//                                 min-width: calc((100% / 1) - 7px);
//                                 justify-content: center;
//                                 align-items: center;
//                                 text-align: center;
//                                 .frase{
//                                     flex-direction: column;
//                                     img{
//                                         margin-bottom: 1rem;
//                                     }
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//             .seccion-ver-pelis{
//                 display: none;
//                 .ver-pelis{
//                     .pelis-cont{
//                         .peli{
//                             .contenedor-textos-ver-pelis{
//                                 .cursor-hover-ver-pelis{
//                                     top: 85%;
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//             footer{
//                 .contenedor-footer{
//                     flex-direction: column;
//                     border: none;
//                     .content-foo{
//                         margin-bottom: 20px;
//                         text-align: center;
//                         h4{
//                             border: none;
//                         }
//                         p{
//                             color: #ccc;
//                             border-bottom: 1px solid #f2f2f2;
//                             padding-bottom: 20px;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }