$mobile-portrait: 320px;
$tablet: 768px;
$tablet-landscape: 1024px;
$laptop: 1366px;
$desktop: 1920px;
 
@mixin media($width){
    @media screen and (max-width: $width){
        @content;
    }
}
@mixin height($height,$width){
    @media (min-height:$height) and (max-width: $width){
        @content;
    }
}
