$mobile-portrait: 320px;
$tablet: 768px;
$tablet-landscape: 1024px;
$laptop: 1366px;
$desktop: 1920px;
 
@mixin max-width($width){
    @media screen and (max-width: $width){
        @content;
    }
}
@mixin min-width($min-width){
    @media screen and (min-width: $min-width){
        @content;
    }
}
@mixin min-height-min-width($height,$width){
    @media (min-height:$height) and (min-width: $width){
        @content;
    }
}
