// TODO:STUB  BACKGROUNDS

@mixin background-before {
    &:before {
        content: ' ';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @content
    }
}

.background-before {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.background-linear-gradient-image {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, 0.5)), url(../../galeria/fondo4.png);
}

// TODO:STUB  SCROLLBAR


.scrollbar-none {
    overflow-y: scroll;
    // * para mozilla
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &::-webkit-scrollbar-track {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        display: none;
    }

}

.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}