// TODO:STUB  BACKGROUNDS

@mixin background-image {
    @content;
    position: relative;
    background-size: cover;
    background-position: center;
}
@mixin background-before {
    &:before {
        content: ' ';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @content;
    }
}
@mixin background-parallax{
    background-attachment: fixed;
    max-width: 100%;
    background-repeat: no-repeat;

}
.background-parallax{
    background-attachment: fixed;
    max-width: 100%;
    background-repeat: no-repeat;
}

.background-before {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.background-linear-gradient-image {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, 0.5)), url(../../galeria/fondo4.png);
}

// TODO:STUB  SCROLLBAR


.scrollbar-none {
    overflow-y: scroll;
    // * para mozilla
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    &::-webkit-scrollbar-track {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        display: none;
    }

}

// TODO:STUB  POSICIONAMIENTO


.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
.space-between{
    justify-content: space-between
}
.position-absolute{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.position-fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}
.overflow-hidden{
    overflow: hidden;
}
.height-width{
    width: 100%;
    height: 100%;
}