// * COLORES
$color1: #357fb0;
$color2: #48aef0;
$color3: #409ad6;

// * FUENTES
$sans-serif: 'Open Sans', sans-serif;
$serif: Georgia, 'Times New Roman', Times, serif, Times, serif;
$fuente-tipica: sans-serif, helvetica, arial;
$roboto: 'Roboto', sans-serif, helvetica, arial;
$lato: 'lato', sans-serif, helvetica, arial;
$maquina: 'Courier New', Courier, monospace;