extends templates/template.pug
block body
    body
        header
            nav.menu#menu
                ul.enlaces#enlaces
                    -const enlaces = ["Sobre-Ghibli","Peliculas","Imagenes","Creadores","Frases","Ver peliculas", "Historia",]
                    each enlace in enlaces
                        li( id="enlace-" + enlace, class="enlace borde-animado-centro ")
            .contenedor-hamburguer#contenedor-hamburguer
                .hamburguer#hamburguer
            .textos-header
                h1.titulo-textos-header El Maravilloso Mundo de Ghibli
                h2.subtitulo-textos-header "¡Venga, vamos a reirnos para alejar a los fantasmas!"
            .wave
                svg(viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;")
                    path(d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;")

        main
        //- NOTE SOBRE GHIBLI
        section.seccion-sobre-ghibli#seccion-sobre-ghibli
            .contenedor-sobre-ghibli.contenedor
            h2.titulo Estudio Ghibli
            .sobre-ghibli
